@charset "utf-8";
/* CSS Document */

@media (prefers-color-scheme: dark) {
	
    body {
	    background-color: transparent;
	    color: black;
    }
}

body {
	background-color: transparent;
	color: black;
}

html {
	background-color: transparent;
}

h2 {
	position: relative;
	padding-bottom: 0.5em;
	border-bottom: 4px solid #DDD;
}
h2::after {
	position: absolute;
	content: "  ";
	border-bottom: solid 4px #ec4747;
	bottom: -4px;
	width: 8%;
	display: block;
}

.re-size {
	width: 200px;
}

p {
	text-align: center
}
